* {
    main-bg:            #16171FB3;
    main-fg:            #CCD2FFE6;
    main-br:            #434C6AE6;
    main-ex:            #24283BE6;
    select-bg:          #AAB5F080;
    select-fg:          #292F52E6;
}
